.navbar-default {
   background: #2a2b2b;
   box-shadow: none;
   border-color: #2a2b2b;
}

.navbar-brand {
   padding: 3px 3px;
   max-height: 70px;
   height: 93px;
}

.navbar-brand img {
   max-height: 100%;

}

.navbar-fixed-top .navbar-collapse {
   max-height: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>a:focus, .navbar-default .navbar-nav>a:hover {
    white-space: nowrap;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #d1d3d4;
    font-weight: 400;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   <!--No colour-->
}

.navbar-toggle {
   margin-top: 18px
}

a:hover {
   color: #9b6bcc;
}

a, h3.article-title a:hover {
   color: inherit;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
   color: #9b6bcc;
   font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover {
   color: #9b6bcc;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #d1d3d4 !important;
}

.navbar-default .navbar-nav>li>a:focus {
   color: #d1d3d4;
}

.navbar-default .navbar-collapse {
   border-color: #2a2b2b;
}

.hero-overlay {
   background-size: 60%;
   background-repeat: repeat-x;
   background-position-x: 50%;
   background-position-y: 2em;
   background-attachment: fixed;
   background-origin: initial;
   background-clip: initial;
}

a {
   font-weight: bold;
   font-size: 0.9em;
   color: #555;
}

.btn-group > .btn-primary {
   background: #9b6bcc !important;
   border-color: #9b6bcc !important;
}

.btn-toolbar .btn.btn-primary.active {
    background-color: #bca9d4 !important;
}

.btn-toolbar .btn.btn-primary:hover {
   background-color: #53237f !important;
}

.btn-primary.btn-outline {
    color: #9b6bcc !important;
    border-color: #9b6bcc !important;
}

.btn-primary:hover {
   background: #53237f !important;
}

img.testimonial-img-bordered {
   width: 150px;
   height: 150px;
   padding: 3px;
   border-radius: 50%;
}

div.testimonial .card img.img-responsive {
   /*width: 150px;
   height: 150px;*/
   padding: 3px;
   border-radius: 50%;
   box-shadow: 1px 1px 0px #edefed, -1px -1px 0px #edefed, 1px -1px 0px #edefed, -1px 1px 0px #edefed;
   /*margin-top: 105px;
   margin-bottom: 105px;*/
}

