<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=eE5zemPbe7">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=eE5zemPbe7">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=eE5zemPbe7">
<link rel="manifest" href="/manifest.json?v=eE5zemPbe7">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=eE5zemPbe7" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=eE5zemPbe7">
<meta name="theme-color" content="#ffffff">
